# **Exercise 1: Create a Jupyter Notebook**

## Name: Peer-graded_Assignment_Submitting_My_Work_Tools_For_Machine_Learning

# **Exercise 2 - Create a markdown cell with the title of the notebook.**

### **Data Science Tools and Ecosystem**

# **Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ Create markdown cells.

+ Add comments to code cells.

+ List popular languages that Data Scientists use.

+ List commonly used libraries used by Data Scientists.

+ Comment on Data Science tools.

# **Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. Java.
5. Julia.
6. Scala.
7. C/C++.
8. JavaScript.
9. PHP.
10. Go.
11. Ruby.
12. Visual Basic.

# **Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.
9. Scrapy.
10. BeautifulSoup.
11. LightGBM.
12. ELI5.
13. Theano.
14. NuPIC.
15. Ramp.
16. Pipenv.
17. Bob.
18. PyBrain.
19. Caffe2.
20. Chainer.

# **Exercise 6 - Create a markdown cell with a table of Data Science tools**

| Data Science Tools |
| -------------------|
| SAS |
| BigML |
| Apache Spark |
| Anancoda |
| Jupyter Notebooks |
| R Studio |
| Spyder |

# **Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
# Arithmetic operations
code_example_001 = compile("1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10", "<string>", "eval")
eval(code_example_001)
# Result: 55

55

In [19]:
code_example_002 = compile("(123456789 + 987654321) *999", "<string>", "eval")
eval(code_example_002)
# Result: 1109999998890

1109999998890

In [20]:
import math
# Volume of a sphere
code_example_003 = compile("123456789 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code_example_003)
# Result: 2020056986240.5479

2020056986240.5479

# **Exercise 8 - Create a code cell to multiply and add numbers**

In [21]:
(1*2*3*4*5*6*7*8*9*10)+123456789
# Result: 127085589

127085589

# **Exercise 9 - Create a code cell to convert minutes to hours**

In [26]:
days = 0
hours = 0
mins = 0

time = 300
#days = time / 1440 (1 DAY = 24 HOURS = 1440 MINUTES)
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 0 days, 5.0 hours, 0 mins.

0 days, 5.0 hours, 0 mins.

# **Exercise 10 - Insert a markdown cell to list Objectives**

# **Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name**

*Author:*

**NGUYEN THANH TUAN**